.jumbotron {
  background-color: #C0C0C0;
  color: black;
  margin-top: 25px;
  marhin-bottom: 0px;
}

.btn {
  color: white;
}

.btn-red {
  background-color: #EF280F;
}

.btn-yellow {
  background-color: #E7D40A;
}

.btn-green {
  background-color: #02AC66;
}

.footer {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  background-color: #000003;
  margin-top: 15px;
  marhin-bottom: 0px;
  color: white;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 15px;
  marhin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.lateral {
  background-color: #6DC36D;
}

.centro {
  background-color: #ECECEC;
}

.color-descripcion-impar {
  background: #808080;
  color: black;
}

.color-descripcion-par {
  background: #C0C0C0;
  color: black;
}

.banner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*# sourceMappingURL=styles.css.map */
