@yellow: #fffa19;
@gris: #C0C0C0;
@black: #000003;
@gris_oscuro: #808080;

.margenes(@top, @bottom){
  margin-top: @top;
  marhin-bottom: @bottom;
}

.body {
  background-color: #222222; }

.jumbotron {
  background-color: @gris;
  color: black;
  .margenes(25px, 0px); 
  }

.btn {
  color: white; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: @black;
  .margenes(15px, 0px);
  color: white; }

.footer-address-icon {
  padding-right: 10px; 
  }

.card-hotel {
  flex: 1 200px;
  .margenes(15px, 0px); 
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.lateral {
  background-color: #6DC36D; }

.centro {
  background-color: #ECECEC; }

.color-descripcion-impar {
  background: @gris_oscuro;
  color: black; }

.color-descripcion-par {
  background: @gris;
  color: black; }

.banner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.tab-content {
  padding-top: 10px; }
